body {
  color: #323050;
  background-color: #F3F3F3;
  font-family: 'Roboto Condensed',sans-serif;
  font-size: 15px;
  line-height: 1.6;

}

#sidebar {
  position: fixed;
  width: 100px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #CDCCCD;
}


#page-content {
  margin-left: 300px;
}

a {
  text-decoration: none;
  color: #484666;
}

a:hover {
  color: #9190A3;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  color: #42213D;
  line-height: 2;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: #677984;
  line-height: 1.7;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.card {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: #F9F9F9;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #8E8D8E;
  border: 0.2px solid #C7C6C7;
}

.text-center {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.img-rounded {
  border-radius: 2px;
  box-shadow: 1px 1px 3px #8E8D8E;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  padding-left: 0px;
}

#sidebar-icon-postion > li {
  width: 40px;
  margin-top: 110px;
  margin-left: -15px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
